# --------------
# Core Framework
# --------------

pydantic>=2.7.0            # Data validation (used by FastAPI)
pydantic-settings>=2.2.0   # Settings management
email-validator>=2.1.0     # Email validation
fastapi==0.111.1           # FastAPI framework
aiosqlite==0.18.0          # Async SQLite support
sqlalchemy==2.0.20         # ORM for database modeling
python-dotenv==1.0.0       # Load environment variables from .env
uvicorn[standard]==0.23.2  # ASGI server to run FastAPI


# -----------------
# Optional Features
# -----------------
matplotlib==3.9.2          # Optional charts (backend plotting)
python-jose==3.3.0         # JWT authentication
passlib[bcrypt]==1.7.4     # Password hashing
bcrypt<4.0.0               # passlib compatibility fix

# Testing
pytest==8.0.0
httpx==0.27.0
